[email]
user=my.account@gmail.com
password=mypassword

[notifications]
to_email=recipent.1@gmail.com;recipent.2@gmail.com

[craigslist]
sites=newjersey,cnj,jerseyshore,southjersey,longisland,newyork,newhaven,hudsonvalley,catskills,philadelphia,allentown,reading,delaware,poconos,scranton,lancaster

[search]
auto_make_model=make+model+name
search_distance=100
postal=012345
min_price=7000
max_price=13000
min_auto_year=2004
max_auto_miles=50000
auto_transmission=1

[paths]
results_path=/var/opt/craigslistscraper/results.csv
ignored_path=/var/opt/craigslistscraper/ignored.csv
new_res_path=/var/opt/craigslistscraper/results_new.csv
