[email]
# credentials used by SMTP to connect to mail server
user=my.account@gmail.com
password=mypassword

[notifications]
# list of notification recipents' email addresses separated by semicolon
to_email=recipent.1@gmail.com;recipent.2@gmail.com

[craigslist]
# comma separated list of Craigslit sites
# those are the first parts of the web address like 'newjersey' in http://newjersey.craigslist.org
# for full list of sites go to Craigslist.
sites=newjersey,cnj,jerseyshore,southjersey,longisland,newyork,newhaven,hudsonvalley,catskills,philadelphia,allentown,reading,delaware,poconos,scranton,lancaster

[search]
# values of selected search parameters
# those parameters will form search url like 'max_price' in the following line:
#   https://newjersey.craigslist.org/search/sss?query=jeep+wrangler&sort=rel&max_price=15000
# for full list of parameters go to Craigslist.
auto_make_model=make+model+name
search_distance=100
postal=012345
min_price=7000
max_price=13000
min_auto_year=2004
max_auto_miles=50000
auto_transmission=1

[paths]
# paths to the output and control files
# all matching listings except the ones saved in ignored listings file
results_path=/var/opt/craigslistscraper/results.csv
# listings to be ignored in the new results (just cut and pasted from results)
ignored_path=/var/opt/craigslistscraper/ignored.csv
# new listings as compared to last saved results
new_res_path=/var/opt/craigslistscraper/results_new.csv
